<% blogs.each do |blog| %>

  <%= link_to user_path(blog.user.id) do %>
    <%= image_tag blog.user.icon.thumb.url %>
    <%= blog.user.name %>
  <% end %>

  <%= '・' %><%= time_ago_in_words(blog.created_at) %>

  <div style="background: white;">
    <div>
      <%= blog.content %>
    </div>

    <div class="blogs_image">
      <%= image_tag blog.image.url if blog.image? %>
    </div>

  </div>

  <div class="row">

    <div id="likes_area_<%= blog.id %>" class="col-xs-6">
      <%= render partial: 'likes/like', locals: { blog: blog, like: Like.find_by(blog_id: blog.id, user_id: current_user.id) } %>
    </div>

    <div  class="col-xs-6">
      <%= link_to t('Show'), blog, remote: true, data: {lat: "#{blog.lat}", lng: "#{blog.lng}"}, onClick: "changeCenter(event);"%>
    </div>

  </div>
    
<hr>

<% end %>