<%= link_to 'Back', blogs_path, remote: true %>
<%= form_with(model: blog) do |form| %>
  <div>
    <%= form.text_area :content %>
  </div>

  <%= form.text_field :lat %>
  <%= form.text_field :lng %>

  <div>
    <%= form.submit %>
  </div>
<% end %>