<%= link_to "Back", :back, remote: true  %>
<div>
  <div>
    <%= link_to user_path(id: @blog.user.id) do %>
      <%= image_tag @blog.user.icon.thumb.url if @blog.user.icon? %>
      <%= @blog.user.name %>
    <% end %>
  </div>

  <div>
    <%= @blog.content %>
  </div>

  <div class="blogs_image">
    <%= image_tag @blog.image.url if @blog.image? %>
  </div>

  <hr>
</div>

<% if current_user.id == blog.user_id %>
  <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
<% end %>