<%= link_to :back, remote: true do %>
  <%= fa_icon 'chevron-left' %>
<% end %>

<% if users.count == 0 %>
  <p><%= t('No Users') %></p>
<% end %>

<% users.each do |user| %>

  <div class="row", style="background: white";>

    <div class="col-xs-7">
      <%= link_to user_path(id: user.id) do %>
        <%= image_tag user.icon.thumb.url %>
        <%= user.name %>
      <% end %>
    </div>

    <div class="col-xs-5">
      <%= render partial: 'users/follow_form', locals: { user: user } unless current_user.id == user.id %>
    </div>

  </div>

  <hr>

<% end %>