<h1>
<%= image_tag @user.icon.url %>
<%= @user.name %>
</h1>

<% if current_user.id == @user.id %>
  <%= link_to 'edit', edit_user_registration_path %>
<% else %>
  <%= render partial: 'users/follow_form', locals: { user: @user } %>
<% end %>

<%= link_to 'Blogs', user_path(id: @user.id) %>

<%= link_to 'Likes', user_likes_path(@user.id) %>
<hr>

<%= render partial: 'blogs/index', locals: { blogs: @blogs } %>