<div class="text-center">

    <%= image_tag @user.icon.url %>
    <h1><%= @user.name %></h1>

  <div>
    <% if current_user.id == @user.id %>
      <%= link_to t('Edit'), edit_user_registration_path %>
    <% else %>
      <%= render partial: 'users/follow_form', locals: { user: @user } %>
    <% end %>
  </div>
  
</div>

<hr>

<div class="row">
  <div class="col-xs-6">
    <%= @user.following.count %>
    <%= link_to t('Following'), relationships_following_path(user_id: @user.id), remote: true %>
  </div>

  <div class="col-xs-6">
    <%= @user.followers.count %>
    <%= link_to t('Followers'), relationships_followers_path(user_id: @user.id), remote: true %>
  </div>
</div>

<hr>

<div class="row">

  <% if @likes_blog == true %>

    <div class='col-xs-3'>
        <%= link_to t('Blogs'), user_path(id: @user.id)%>
    </div>

    <div class='col-xs-offset-3 col-xs-3'>
      <p class='likes_blog' ><%= t('Likes')%></p>
    </div>

  <% else %>

    <div class='col-xs-3'>
        <p class='likes_blog' ><%= t('Blogs')%></p>
    </div>

    <div class='col-xs-offset-3 col-xs-3'>
      <%= link_to t('Likes'), user_likes_path(@user.id) %>
    </div>

  <% end %>
  
</div>

<hr style="margin-top: 0;">

<%= render partial: 'blogs/index', locals: { blogs: @blogs } %>