<!DOCTYPE html>
<html>
  <head>
    <title>Mapblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <%= 'MapBlog' %>
      <% end %>

      <% if user_signed_in? %>

        <%= link_to root_path do %>
          <%= fa_icon 'home 2x' %>
        <% end %>

        <%= link_to user_path(id: current_user.id) do %>
          <%= image_tag current_user.icon.thumb.url %>
        <% end %>

        <%= link_to destroy_user_session_path, method: :delete do %>
          <%= fa_icon 'sign-out 2x'%>
        <% end %>

      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
